body {
    background-color: black;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    top: 0;
  }

  h2 {
    color: aliceblue;
    
    
  }

.navbar {
gap: 2vw;
display: flex;
}

  .navbar li {
    
    padding: 0vw;
    margin: 0vw;
    overflow: hidden;
    float: right;
  }
  
  .navbar a {
    color: aliceblue;
    text-decoration: none;
    padding: 15vw;
    text-align: left;
  
  }



  h1 {
    color: aliceblue;
    text-align: center;
  }

 

 
  
