body {
    background-color: black;
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    top: 0;
  }

h2 {
  color: aliceblue ;
  float: right;
  justify-content: space-between;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1%;
  gap: 1vw;
}

.navbar ul{
  display: flex;
}

.navbar li{
  display: inline;
  
}


  h1 {
    color: aliceblue;
    text-align: center;
  }

 

 
  
